{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock title %}
{% from 'macro.html' import field_errors with context %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <!-- <h1>Reset Password</h1>
    <form action="{{ url_for('auth.forgot_password') }}" method="POST">
        {{ form.hidden_tag()  }}
        <div>
            {{ field_errors(form.email.errors) }}
            <div>
                {{ form.email.label }}<br> 
                {{ form.email() }}
            </div>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <span>Need an account? <a href="{{ url_for('auth.login') }}">Click here.</a></span> -->

    {{ super() }}
    <div class="page-header">
        <h1>Forgot Password</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>

{% endblock page_content %}