{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% from 'macro.html' import user_posts with context%}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    {{ super() }}
    <div class="page-header">
        <h1>Post</h1>
    </div>
    <!-- <form action="{{ url_for('main.index_func') }}" method="POST">
        {{ form.hidden_tag()  }}
        <div>
            {{ form.user_post.label }}
            {{ form.user_post() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        <div>
            {{ user_posts(posts) }}
        </div>
    </form> -->
    {{ wtf.quick_form(form) }}
    {{ user_posts(posts) }}

{% endblock page_content %}