{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% from 'base.html' import field_errors %}

{% block content %}
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag()  }}
        <div>
            {{ field_errors(form.email.errors) }}
            <div>
                {{ form.email.label }}<br> 
                {{ form.email(value= request.form.get('email', default='')) }}
            </div>
        </div>
        <div>
            {{ field_errors(form.password.errors) }} 
            <div>
                {{ form.password.label }}<br>
                {{ form.password() }}
            </div>
        </div>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        <span>Need an account? <a href="{{ url_for('register') }}">Click here.</a></span>
    </form>

{% endblock content %}