{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% from 'macro.html' import field_errors with context %}

{% block content %}
    <h1>Rest Password</h1>
    <form action="{{ url_for('main.reset_password') }}" method="POST">
        {{ form.hidden_tag()  }}
        <div>
            {{ field_errors(form.new_password.errors) }}
            <div>
                {{ form.new_password.label }}<br> 
                {{ form.new_password() }}
            </div>
        </div>
        <div>
            {{ field_errors(form.old_password.errors) }} 
            <div>
                {{ form.old_password.label }}<br>
                {{ form.old_password() }}
            </div>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

{% endblock content %}