{% extends "base.html" %}
{% from 'macro.html' import user_comments with context %}
{% from 'macro.html' import pagination_widget with context %}


{% block title %}Comment Moderation{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Comment Moderation</h1>
    </div>
    {% set moderate = True %}
    {{ user_comments(comments) }}
    {% if pagination %}
        <div class="pagination">
            {{ pagination_widget(pagination, '.moderate') }}
        </div>
    {% endif %}
{% endblock %}
